@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Nunito+Sans|Open+Sans&display=swap');

.container
{

    justify-content: center;
    min-height: 75vh;
    margin-top: 5%;
 
}
.container .row div
{
    padding: 5px;

}
.container .row div a
{
    /* in block */
    display: block; 
    color: #333;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.3rem;
}
.container .row div a span
{
    display: inline-block ;
}
.container .row div a figure
{
    display: block;
}
.container .row div a .countrylist-caption

{
    /* inline block! */
    display: inline-block ;
    vertical-align: top;
    width: 102px;
}

#Albania {
    content: url('../icons/albania.png');
    padding: 3px;
    display: inline-block;
}
#Andorra::before {
    content: url('../icons/andorra.png');
    padding: 3px;
}
.container .row div a::before
{
    display: table;
    /* content: url('../icons/andorra.png');
    padding: 3px;   */
}

nav.navbar
{
    margin-left: 10%;
    margin-right: 10%;
    padding: 1.2rem;
    justify-content: center;
    border-radius: 2rem;

}
nav.navbar h1
{
  font-weight: 700;
}


/* section, div , ul ,li ,a (figure, meta ,span)*/